<%= form_with model: @feature, url: adminbook_dnd2024_characters_feature_path(@feature), method: 'patch' do |form| %>
  <div class="form-field mb-2">
    <div><%= form.label 'Псевдоним', class: 'form-label' %></div>
    <div><%= form.text_field :slug, class: 'form-value w-80', required: true %></div>
  </div>
  <%= form.fields_for :title, @feature.title do |title_form| %>
    <div class="form-field mb-2">
      <div><%= title_form.label 'Заголовок (en)', class: 'form-label' %></div>
      <div><%= title_form.text_field :en, value: @feature.title['en'], class: 'form-value w-80' %></div>
    </div>
    <div class="form-field mb-2">
      <div><%= title_form.label 'Заголовок (ru)', class: 'form-label' %></div>
      <div><%= title_form.text_field :ru, value: @feature.title['ru'], class: 'form-value w-80' %></div>
    </div>
  <% end %>
  <%= form.fields_for :description, @feature.description do |description_form| %>
    <div class="form-field mb-2">
      <div><%= description_form.label 'Описание (en)', class: 'form-label' %></div>
      <div><%= description_form.textarea :en, value: @feature.description['en'], class: 'form-text text-sm', size: '100x7' %></div>
    </div>
    <div class="form-field mb-2">
      <div><%= description_form.label 'Описание (ru)', class: 'form-label' %></div>
      <div><%= description_form.textarea :ru, value: @feature.description['ru'], class: 'form-text text-sm', size: '100x7' %></div>
    </div>
  <% end %>
  <div class="form-field mb-2">
    <div><%= form.label 'Исключение способностей', class: 'form-label' %></div>
    <div><%= form.text_field :exclude, value: (@feature.exclude&.join(',') || ''), class: 'form-text text-sm' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Источник', class: 'form-label' %></div>
    <div><%= form.select :origin, %w[species class], required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Значение источника', class: 'form-label' %></div>
    <div><%= form.text_field :origin_value, value: @feature.origin_value, class: 'form-value', required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label :level, class: 'form-label' %></div>
    <div><%= form.text_field :level, class: 'form-value', required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Тип', class: 'form-label' %></div>
    <div><%= form.select :kind, Dnd2024::Character::Feature.kinds.keys, required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Обновление после', class: 'form-label' %></div>
    <div><%= form.select :limit_refresh, Dnd2024::Character::Feature.limit_refreshes.keys, include_blank: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Тип опций для выбора', class: 'form-label' %></div>
    <div><%= form.text_field :options_type, class: 'form-value' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Список опций для выбора', class: 'form-label' %></div>
    <div><%= form.textarea :options, class: 'form-text text-sm', size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Расчет видимости', class: 'form-label' %></div>
    <div><%= form.text_field :visible, class: 'form-text', required: true %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Переменные для описания', class: 'form-label' %></div>
    <div><%= form.textarea :description_eval_variables, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <div class="form-field mb-2">
    <div><%= form.label 'Переменные для расчетов', class: 'form-label' %></div>
    <div><%= form.textarea :eval_variables, class: 'form-text text-sm', required: true, size: '100x7' %></div>
  </div>
  <%= form.submit 'Update', class: 'btn btn-primary' %>
<% end %>
