<div class="mb-4">
  <%= link_to 'New feature', new_adminbook_dnd2024_characters_feature_path, class: 'btn btn-primary' %>
</div>
<table class="table w-full text-sm">
  <thead>
    <tr>
      <td>Slug</td>
      <td>Level</td>
      <td>Title</td>
      <td>Kind</td>
      <td>Description variables</td>
      <td>Eval variables</td>
      <td>Limit refresh</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <tr>
        <td class="pr-4">
          <p><%= link_to feature.slug, edit_adminbook_dnd2024_characters_feature_path(feature.id), class: 'underline text-blue-400' %><p>
          <p><%= feature.origin %></p>
          <p><%= feature.origin_value %></p>
        </td>
        <td class="pr-4"><%= feature.level %></td>
        <td class="pr-4">
          <p><%= feature.title['ru'] %></p>
          <p><%= feature.title['en'] %></p>
        </td>
        <td class="pr-4">
          <p class="text-xs"><%= feature.kind %></p>
        </td>
        <td class="pr-4">
          <% feature.description_eval_variables.each do |key, variable| %>
            <p class="text-xs mb-1"><%= key %></p>
            <p class="text-xs mb-2"><%= variable %></p>
          <% end %>
        </td>
        <td class="pr-4">
          <% feature.eval_variables.each do |key, variable| %>
            <p class="text-xs mb-1"><%= key %></p>
            <p class="text-xs mb-2"><%= variable %></p>
          <% end %>
        </td>
        <td class="pr-4"><%= feature.limit_refresh %></td>
        <td>
          <%= button_to 'X', adminbook_dnd2024_characters_feature_path(feature.id), method: :delete, class: 'btn-warning btn-small text-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
