<table class="table w-full text-sm">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Type</td>
      <td>Level</td>
      <td>Race</td>
      <td>Subrace</td>
      <td>Classes</td>
      <td>Subclasses</td>
      <td>User ID</td>
    </tr>
  </thead>
  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td class="pr-4"><%= character.id %></td>
        <td class="pr-4"><%= character.name %></td>
        <% if character.is_a?(Dnd5::Character) %>
          <td class="pr-4">D&D 5</td>
          <% character.data.slice('level', 'race', 'subrace', 'classes', 'subclasses').each_value do |value| %>
            <td class="pr-4"><%= value %></td>
          <% end %>
        <% elsif character.is_a?(Dnd2024::Character) %>
          <td class="pr-4">D&D 2024</td>
          <% character.data.slice('level', 'species', 'legacy', 'classes', 'subclasses').each_value do |value| %>
            <td class="pr-4"><%= value %></td>
          <% end %>
        <% end %>
        <td><%= character.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
