<table class="table w-full text-sm">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Name</td>
      <td>Evasion</td>
      <td>Health</td>
      <td>Domains</td>
      <td>User ID</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @specialities.each_with_index do |speciality, index| %>
      <tr>
        <td class="pr-2"><%= (@pagy.page - 1) * 25 + index + 1 %></td>
        <td class="pr-2"><%= speciality.id %></td>
        <td class="pr-2"><%= speciality.title %></td>
        <td class="pr-2"><%= speciality.info.evasion %></td>
        <td class="pr-2"><%= speciality.info.health_max %></td>
        <td class="pr-2"><%= speciality.info.domains %></td>
        <td class="pr-2"><%= speciality.user_id %></td>
        <td class="pr-2"><%= speciality.created_at.strftime('%d-%m-%Y') %></td>
        <td><%= link_to 'Edit', edit_adminbook_homebrew_path(speciality.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
