<table class="table w-full text-sm">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Name</td>
      <td>User ID</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @races.each_with_index do |race, index| %>
      <tr>
        <td class="pr-2"><%= (@pagy.page - 1) * 25 + index + 1 %></td>
        <td class="pr-2"><%= race.id %></td>
        <td class="pr-2"><%= race.name %></td>
        <td class="pr-2"><%= race.user_id %></td>
        <td><%= race.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
