<table class="table w-full text-sm font-cascadia-light">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Slug</td>
      <td>Kind</td>
      <td>Name</td>
      <td>Data</td>
      <td>Info</td>
    </tr>
  </thead>
  <tbody>
    <% @items.each_with_index do |item, index| %>
      <tr>
        <td class="pr-2"><%= index + 1 %></td>
        <td class="pr-4"><%= item.id %></td>
        <td class="pr-4"><%= item.slug %></td>
        <td class="pr-4"><%= item.kind %></td>
        <td class="pr-4">
          <% item.name.each do |key, value| %>
            <p class="text-sm"><%= key %> - <%= value %></p>
          <% end %>
        </td>
        <td class="pr-4">
          <% item.data.attributes.each do |key, value| %>
            <p class="text-sm"><%= key %> - <%= value %></p>
          <% end %>
        </td>
        <td class="pr-4">
          <% item.info.each do |key, value| %>
            <p class="text-sm"><%= key %> - <%= value %></p>
          <% end %>
        </td>
        <td><%= item.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
