<table class="table w-full text-sm">
  <thead>
    <tr>
      <td class="pr-2"></td>
      <td class="pr-2">ID</td>
      <td class="pr-2">Username</td>
      <td class="pr-2">Provider UID</td>
      <td class="pr-2">Provider</td>
      <td class="pr-2">Provider username</td>
      <td class="pr-2">First name</td>
      <td class="pr-2">Active</td>
      <td class="pr-2">Discarded</td>
      <td class="pr-2">Locale</td>
      <td class="pr-2">Color</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <% if user.identities.blank? %>
        <tr>
          <td class="pr-2"><%= index + 1 %></td>
          <td class="pr-2"><%= user.id %></td>
          <td><%= user.username %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="pr-2"><%= user.discarded_at.present? %></td>
          <td class="pr-2"><%= user.locale %></td>
          <td class="pr-2"><%= user.color_schema %></td>
          <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
        </tr>
      <% else %>
        <% user.identities.each do |identity| %>
          <tr>
            <td class="pr-2"><%= index + 1 %></td>
            <td class="pr-2"><%= user.id %></td>
            <td><%= user.username %></td>
            <td class="pr-2"><%= identity.uid %></td>
            <td class="pr-2"><%= identity.provider %></td>
            <td class="pr-2" class="pr-2"><%= identity.username %></td>
            <td class="pr-2"><%= identity.first_name %></td>
            <td class="pr-2"><%= identity.active %></td>
            <td class="pr-2"><%= user.discarded_at.present? %></td>
            <td class="pr-2"><%= user.locale %></td>
            <td class="pr-2"><%= user.color_schema %></td>
            <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
