<table class="table w-full text-sm">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Username</td>
      <td>Provider UID</td>
      <td>Provider</td>
      <td>Provider username</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Active</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="pr-4"><%= user.id %></td>
        <td><%= user.username %></td>
        <% if user.identities.blank? %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% else %>
          <% user.identities.each do |identity| %>
            <td><%= identity.uid %></td>
            <td><%= identity.provider %></td>
            <td><%= identity.username %></td>
            <td><%= identity.first_name %></td>
            <td><%= identity.last_name %></td>
            <td><%= identity.active %></td>
          <% end %>
        <% end %>
        <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
