<table class="table w-full text-sm">
  <thead>
    <tr>
      <td class="pr-2"></td>
      <td class="pr-2">ID</td>
      <td class="pr-2">Username</td>
      <td class="pr-2">Provider UID</td>
      <td class="pr-2">Provider</td>
      <td class="pr-2">Provider username</td>
      <td class="pr-2">First name</td>
      <td class="pr-2">Last name</td>
      <td class="pr-2">Active</td>
      <td class="pr-2">Locale</td>
      <td class="pr-2">Color</td>
      <td>Created</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td class="pr-2"><%= index + 1 %></td>
        <td class="pr-2"><%= user.id %></td>
        <td><%= user.username %></td>
        <% if user.identities.blank? %>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <% else %>
          <% user.identities.each do |identity| %>
            <td class="pr-2"><%= identity.uid %></td>
            <td class="pr-2"><%= identity.provider %></td>
            <td class="pr-2" class="pr-2"><%= identity.username %></td>
            <td class="pr-2"><%= identity.first_name %></td>
            <td class="pr-2"><%= identity.last_name %></td>
            <td class="pr-2"><%= identity.active %></td>
          <% end %>
        <% end %>
        <td class="pr-2"><%= user.locale %></td>
        <td class="pr-2"><%= user.color_schema %></td>
        <td><%= user.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
