<table class="table w-full text-sm">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>Name</td>
      <td>User ID</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @books.each_with_index do |book, index| %>
      <tr>
        <td class="pr-2"><%= (@pagy.page - 1) * 25 + index + 1 %></td>
        <td class="pr-2"><%= book.id %></td>
        <td class="pr-2"><%= book.name %></td>
        <td class="pr-2"><%= book.user_id %></td>
        <td><%= book.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
