<div class="max-w-7xl mx-auto py-32 px-8 xl:px-0">
  <h1 class="text-6xl mb-16 font-normal!"><%= t('web.welcome.index.title') %></h1>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-8 gap-y-16">
    <div>
      <p class="text-xl mb-4"><%= t('web.welcome.index.description1') %></p>
      <p class="text-xl"><%= t('web.welcome.index.description2') %></p>
      <% if current_user %>
        <div class="mt-4"><%= link_to t('web.welcome.index.dashboard_link'), dashboard_path, class: 'btn-big btn-primary inline-block' %></div>
      <% end %>
    </div>
    <div class="lg:col-span-2">
      <%= image_tag 'charkeeper.webp', alt: 'charkeeper', class: 'mx-auto rounded', width: 800, height: 533 %>
    </div>
  </div>
</div>
<div class="max-w-7xl mx-auto mb-16 px-8 xl:px-0 grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-16">
  <div>
    <h2 class="text-4xl mb-4"><%= t('web.welcome.index.features_title') %></h2>
    <p class="mb-2"><%= t('web.welcome.index.feature_2') %></p>
    <p class="mb-2"><%= t('web.welcome.index.feature_1') %></p>
    <p class="mb-2"><%= t('web.welcome.index.feature_4') %></p>
    <p class="mb-2"><%= t('web.welcome.index.feature_3') %></p>
    <p class="mb-2"><%= t('web.welcome.index.feature_5') %></p>
    <p class="mb-2"><%= t('web.welcome.index.feature_6') %></p>
  </div>
  <div>
    <h2 class="text-4xl mb-4"><%= t('web.welcome.index.work_on') %></h2>
    <p class="text-lg font-normal!"><%= t('web.welcome.index.web') %></p>
    <p class="mb-4">
      <%= t('web.welcome.index.web_description', href: link_to(t('web.welcome.index.web_link'), dashboard_path, class: 'underline', target: '_blank', rel: 'noopener noreferrer')).html_safe %>
    </p>
    <p class="text-lg font-normal!"><%= t('web.welcome.index.mobile_apps') %></p>
    <div class="flex gap-x-4 my-2">
      <%= link_to 'https://apps.apple.com/us/app/charkeeper/id6752808498', target: '_blank', rel: 'noopener noreferrer' do %>
        <%= image_tag 'app_store.svg', alt: 'App store', width: 132, height: 44 %>
      <% end %>
      <%= link_to 'https://play.google.com/store/apps/details?id=org.kortirso.charkeeper', target: '_blank', rel: 'noopener noreferrer' do %>
        <%= image_tag 'google_store.svg', alt: 'Google store', width: 149, height: 44 %>
      <% end %>
    </div>
    <p class="mb-4">
      <%= t('web.welcome.index.app_store', href: link_to(t('web.welcome.index.app_store_link'), 'https://testflight.apple.com/join/Fh1SjU8g', class: 'underline', target: '_blank', rel: 'noopener noreferrer')).html_safe %>
    </p>
    <p class="text-lg font-normal!"><%= t('web.welcome.index.macos') %></p>
    <p class="mb-4">
      <%= t('web.welcome.index.macos_description', href: link_to(t('web.welcome.index.macos_link'), 'https://charkeeper.org/Charkeeper_0.3.8_aarch64.dmg', class: 'underline', download: 'Charkeeper.dmg')).html_safe %>
    </p>
    <p class="text-lg font-normal!"><%= t('web.welcome.index.telegram') %></p>
    <p class="mb-4">
      <%= t('web.welcome.index.telegram_description', href: link_to(t('web.welcome.index.telegram_link'), 'https://t.me/charkeeper_bot', class: 'underline', target: '_blank', rel: 'noopener noreferrer')).html_safe %>
    </p>
  </div>
</div>
<div class="max-w-7xl mx-auto mb-16 px-8 xl:px-0 grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-16">
  <div class="order-1 lg:order-1">
    <h2 class="text-4xl mb-4"><%= t('web.welcome.index.dnd.title') %></h2>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_1') %></p>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_2') %></p>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_3') %></p>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_4') %></p>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_5') %></p>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_6') %></p>
    <p class="mb-2"><%= t('web.welcome.index.dnd.feature_7') %></p>
  </div>
  <div class="order-2 lg:order-2">
    <%= image_tag 'dnd.webp', alt: 'dnd', class: 'rounded', width: 624, height: 288 %>
  </div>
</div>
<div class="max-w-7xl mx-auto mb-16 px-8 xl:px-0 grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-16">
  <div class="order-2 lg:order-1">
    <%= image_tag 'daggerheart_traits.webp', alt: 'daggerheart', class: 'rounded', width: 624, height: 288 %>
  </div>
  <div class="order-1 lg:order-2">
    <h2 class="text-4xl mb-4"><%= t('web.welcome.index.daggerheart.title') %></h2>
    <p class="mb-2"><%= t('web.welcome.index.daggerheart.feature_1') %></p>
    <p class="mb-2"><%= t('web.welcome.index.daggerheart.feature_2') %></p>
    <p class="mb-2"><%= t('web.welcome.index.daggerheart.feature_3') %></p>
    <p class="mb-2"><%= t('web.welcome.index.daggerheart.feature_4') %></p>
    <p class="mb-2"><%= t('web.welcome.index.daggerheart.feature_5') %></p>
    <p class="mb-2"><%= t('web.welcome.index.daggerheart.feature_6') %></p>
  </div>
</div>
<div class="max-w-7xl mx-auto mb-16 px-8 xl:px-0 grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-16">
  <div class="order-1 lg:order-1">
    <h2 class="text-4xl mb-4"><%= t('web.welcome.index.bots.title') %></h2>
    <p class="mb-2"><%= t('web.welcome.index.bots.feature_1') %></p>
    <p class="mb-2"><%= t('web.welcome.index.bots.feature_2') %></p>
    <p class="mb-2"><%= t('web.welcome.index.bots.feature_3') %></p>
    <p class="mb-2">
      <%= t('web.welcome.index.bots.telegram', href: link_to(t('web.welcome.index.bots.telegram_link'), 'https://t.me/charkeeper_bot', class: 'underline', target: '_blank', rel: 'noopener noreferrer')).html_safe %>
    </p>
    <p class="mb-2">
      <%= t('web.welcome.index.bots.discord', href: link_to(t('web.welcome.index.bots.discord_link'), 'https://discord.com/api/oauth2/authorize?client_id=1408454100642955296&permissions=274878000128&scope=bot%20applications.commands', class: 'underline', target: '_blank', rel: 'noopener noreferrer')).html_safe %>
    </p>
  </div>
  <div class="order-2 lg:order-2">
    <%= image_tag 'dnd.webp', alt: 'dnd', class: 'rounded', width: 624, height: 288 %>
  </div>
</div>
