<div class="mb-4">
  <%= link_to 'New notification', new_adminbook_users_notification_path, class: 'btn btn-primary font-cascadia-light' %>
</div>
<table class="table w-full text-sm font-cascadia-light">
  <thead>
    <tr>
      <td></td>
      <td>ID</td>
      <td>User ID</td>
      <td>Title</td>
      <td>Value</td>
      <td>Read</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each_with_index do |notification, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td class="pr-4">
          <%= link_to edit_adminbook_users_notification_path(notification.id), class: 'underline text-blue-400' do %>
            <%= notification.id %></td>
          <% end %>
        <td class="pr-4"><%= notification.user_id %></td>
        <td class="pr-4"><%= notification.title %></td>
        <td class="pr-4"><%= notification.value %></td>
        <td class="pr-4"><%= notification.read %></td>
        <td>
          <%= button_to 'X', adminbook_users_notification_path(notification.id), method: :delete, class: 'btn-warning btn-small text-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
