<table class="table w-full text-sm">
  <thead>
    <tr>
      <td>ID</td>
      <td>Origin</td>
      <td>Title</td>
      <td>Kind</td>
      <td>Description variables</td>
      <td>Eval variables</td>
      <td>Limit refresh</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @feats.each do |feat| %>
      <tr>
        <td class="pr-4"><%= feat.id %></td>
        <td class="pr-4">
          <p><%= feat.origin %></p>
          <p><%= feat.origin_value %></p>
        </td>
        <td class="pr-4">
          <p><%= feat.title['ru'] %></p>
          <p><%= feat.title['en'] %></p>
        </td>
        <td class="pr-4">
          <p class="text-xs"><%= feat.kind %></p>
        </td>
        <td class="pr-4">
          <% feat.description_eval_variables.each do |key, variable| %>
            <p class="text-xs mb-1"><%= key %></p>
            <p class="text-xs mb-2"><%= variable %></p>
          <% end %>
        </td>
        <td class="pr-4">
          <% feat.eval_variables.each do |key, variable| %>
            <p class="text-xs mb-1"><%= key %></p>
            <p class="text-xs mb-2"><%= variable %></p>
          <% end %>
        </td>
        <td class="pr-4"><%= feat.limit_refresh %></td>
        <td><%= feat.created_at.strftime('%d-%m-%Y') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
