<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <title><%= content_for(:title) || 'CharKeeper' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="Keywords" content="Digital, interactive, character sheet, dungeons & dragons, pathfinder, daggerheart">
    <meta name="Description" content="Digital interactive character sheets for tabletop roleplaying games">
    <meta property="og:title" content="Digital interactive character sheets for tabletop roleplaying games" />
    <meta property="og:description" content="Digital interactive character sheets for tabletop roleplaying games" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://charkeeper.org" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body>
    <main class="relative flex flex-col m-0 p-0 min-h-screen">
      <%= render 'controllers/web/shared/flash' %>
      <div class="w-full bg-white border-b border-gray-200 py-2">
        <div class="max-w-7xl mx-auto flex flex-row justify-end">
          <% if current_user %>
            <%= link_to t('web.users.signin.logout'), logout_path, class: 'underline' %>
          <% else %>
            <%= link_to t('web.users.signin.title'), new_signin_path, class: 'mr-4 underline' %>
            <%= link_to t('web.users.signup.title'), new_signup_path, class: 'underline' %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-col flex-1 overflow-x-hidden">
        <%= yield %>
      </div>
      <footer class="px-8 py-4 border-t border-gray-200">
        <div class="flex justify-between items-center w-full max-w-7xl mx-auto">
          <p>
            <span>&copy;</span> Since 2025, CharKeeper,
            <% I18n.available_locales.each do |locale| %>
              <%= link_to locale, change_locale(locale), class: 'ml-2', aria: { label: t('change_locale') } %>
            <% end %>
          </p>
          <div class="flex">
            <a href="https://discord.gg/NFqWPkuZ" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
              <%= image_tag 'discord.svg', class: 'w-6 h-6 mr-2', alt: 'discord', width: 24, height: 24 %>
            </a>
            <a href="https://vk.com/char_keeper" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
              <%= image_tag 'vk.svg', class: 'w-6 h-6 mr-2', alt: 'vk', width: 24, height: 24 %>
            </a>
            <a href="https://t.me/charkeeper" target="_blank" rel="noopener noreferrer" class="opacity-75 hover:opacity-100">
              <%= image_tag 'telegram.svg', class: 'w-6 h-6 mr-2', alt: 'telegram', width: 24, height: 24 %>
            </a>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
