<!DOCTYPE html>
<html lang="en" id="web_telegram_html">
  <head>
    <title><%= content_for(:title) || 'CharKeeper' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag 'web_telegram' %>
    <% unless current_page?(dashboard_path) %>
      <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <% end %>
  </head>
  <body id="web_telegram_body">
    <%= yield %>
  </body>
</html>
